{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": 1,
    "no-unsafe-negation": 0,
    "generator-star-spacing": 0
  },
  "env": {
      "browser": true,
      "node": true
  }
}
